<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj.lianmeng.td.promotion.lib.dao.mapper.MaterielImageMapper">
  <resultMap id="BaseResultMap" type="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="media_id" jdbcType="INTEGER" property="mediaId" />
    <result column="platform_account_id" jdbcType="VARCHAR" property="platformAccountId" />
    <result column="pause" jdbcType="TINYINT" property="pause" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="media_create_time" jdbcType="TIMESTAMP" property="mediaCreateTime" />
    <result column="media_update_time" jdbcType="TIMESTAMP" property="mediaUpdateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="sync_status" jdbcType="TINYINT" property="syncStatus" />
    <result column="sync_failure" jdbcType="VARCHAR" property="syncFailure" />
    <result column="sync_time" jdbcType="TIMESTAMP" property="syncTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="media_info" jdbcType="VARCHAR" property="mediaInfo" />
    <result column="image_id" jdbcType="VARCHAR" property="imageId" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="is_collect" jdbcType="TINYINT" property="isCollect" />
    <result column="platform_material_id" jdbcType="VARCHAR" property="platformMaterialId" />
    <result column="material_type" jdbcType="TINYINT" property="materialType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, media_id, platform_account_id, pause, status, create_time, update_time, media_create_time, 
    media_update_time, operator, sync_status, sync_failure, sync_time, is_deleted, creator, 
    media_info, image_id, image_name, source_type, width, height, size, url, format, 
    signature, is_collect, platform_material_id, material_type
  </sql>
  <select id="selectByExample" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from materiel_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from materiel_image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from materiel_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModelExample">
    delete from materiel_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into materiel_image (media_id, platform_account_id, pause, 
      status, create_time, update_time, 
      media_create_time, media_update_time, operator, 
      sync_status, sync_failure, sync_time, 
      is_deleted, creator, media_info, 
      image_id, image_name, source_type, 
      width, height, size, 
      url, format, signature, 
      is_collect, platform_material_id, material_type
      )
    values (#{mediaId,jdbcType=INTEGER}, #{platformAccountId,jdbcType=VARCHAR}, #{pause,jdbcType=TINYINT}, 
      #{status,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{mediaCreateTime,jdbcType=TIMESTAMP}, #{mediaUpdateTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{syncStatus,jdbcType=TINYINT}, #{syncFailure,jdbcType=VARCHAR}, #{syncTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{mediaInfo,jdbcType=VARCHAR}, 
      #{imageId,jdbcType=VARCHAR}, #{imageName,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, 
      #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{isCollect,jdbcType=TINYINT}, #{platformMaterialId,jdbcType=VARCHAR}, #{materialType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into materiel_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="platformAccountId != null">
        platform_account_id,
      </if>
      <if test="pause != null">
        pause,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="mediaCreateTime != null">
        media_create_time,
      </if>
      <if test="mediaUpdateTime != null">
        media_update_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="syncStatus != null">
        sync_status,
      </if>
      <if test="syncFailure != null">
        sync_failure,
      </if>
      <if test="syncTime != null">
        sync_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="mediaInfo != null">
        media_info,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="imageName != null">
        image_name,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="format != null">
        format,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="isCollect != null">
        is_collect,
      </if>
      <if test="platformMaterialId != null">
        platform_material_id,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="platformAccountId != null">
        #{platformAccountId,jdbcType=VARCHAR},
      </if>
      <if test="pause != null">
        #{pause,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mediaCreateTime != null">
        #{mediaCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mediaUpdateTime != null">
        #{mediaUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        #{syncStatus,jdbcType=TINYINT},
      </if>
      <if test="syncFailure != null">
        #{syncFailure,jdbcType=VARCHAR},
      </if>
      <if test="syncTime != null">
        #{syncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="mediaInfo != null">
        #{mediaInfo,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null">
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="isCollect != null">
        #{isCollect,jdbcType=TINYINT},
      </if>
      <if test="platformMaterialId != null">
        #{platformMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModelExample" resultType="java.lang.Long">
    select count(*) from materiel_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update materiel_image
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=INTEGER},
      </if>
      <if test="record.platformAccountId != null">
        platform_account_id = #{record.platformAccountId,jdbcType=VARCHAR},
      </if>
      <if test="record.pause != null">
        pause = #{record.pause,jdbcType=TINYINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mediaCreateTime != null">
        media_create_time = #{record.mediaCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mediaUpdateTime != null">
        media_update_time = #{record.mediaUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.syncStatus != null">
        sync_status = #{record.syncStatus,jdbcType=TINYINT},
      </if>
      <if test="record.syncFailure != null">
        sync_failure = #{record.syncFailure,jdbcType=VARCHAR},
      </if>
      <if test="record.syncTime != null">
        sync_time = #{record.syncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaInfo != null">
        media_info = #{record.mediaInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.imageId != null">
        image_id = #{record.imageId,jdbcType=VARCHAR},
      </if>
      <if test="record.imageName != null">
        image_name = #{record.imageName,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=INTEGER},
      </if>
      <if test="record.width != null">
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.format != null">
        format = #{record.format,jdbcType=VARCHAR},
      </if>
      <if test="record.signature != null">
        signature = #{record.signature,jdbcType=VARCHAR},
      </if>
      <if test="record.isCollect != null">
        is_collect = #{record.isCollect,jdbcType=TINYINT},
      </if>
      <if test="record.platformMaterialId != null">
        platform_material_id = #{record.platformMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialType != null">
        material_type = #{record.materialType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update materiel_image
    set id = #{record.id,jdbcType=BIGINT},
      media_id = #{record.mediaId,jdbcType=INTEGER},
      platform_account_id = #{record.platformAccountId,jdbcType=VARCHAR},
      pause = #{record.pause,jdbcType=TINYINT},
      status = #{record.status,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      media_create_time = #{record.mediaCreateTime,jdbcType=TIMESTAMP},
      media_update_time = #{record.mediaUpdateTime,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR},
      sync_status = #{record.syncStatus,jdbcType=TINYINT},
      sync_failure = #{record.syncFailure,jdbcType=VARCHAR},
      sync_time = #{record.syncTime,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      creator = #{record.creator,jdbcType=VARCHAR},
      media_info = #{record.mediaInfo,jdbcType=VARCHAR},
      image_id = #{record.imageId,jdbcType=VARCHAR},
      image_name = #{record.imageName,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=INTEGER},
      width = #{record.width,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      size = #{record.size,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      format = #{record.format,jdbcType=VARCHAR},
      signature = #{record.signature,jdbcType=VARCHAR},
      is_collect = #{record.isCollect,jdbcType=TINYINT},
      platform_material_id = #{record.platformMaterialId,jdbcType=VARCHAR},
      material_type = #{record.materialType,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModel">
    update materiel_image
    <set>
      <if test="mediaId != null">
        media_id = #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="platformAccountId != null">
        platform_account_id = #{platformAccountId,jdbcType=VARCHAR},
      </if>
      <if test="pause != null">
        pause = #{pause,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mediaCreateTime != null">
        media_create_time = #{mediaCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mediaUpdateTime != null">
        media_update_time = #{mediaUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null">
        sync_status = #{syncStatus,jdbcType=TINYINT},
      </if>
      <if test="syncFailure != null">
        sync_failure = #{syncFailure,jdbcType=VARCHAR},
      </if>
      <if test="syncTime != null">
        sync_time = #{syncTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="mediaInfo != null">
        media_info = #{mediaInfo,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null">
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="isCollect != null">
        is_collect = #{isCollect,jdbcType=TINYINT},
      </if>
      <if test="platformMaterialId != null">
        platform_material_id = #{platformMaterialId,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModel">
    update materiel_image
    set media_id = #{mediaId,jdbcType=INTEGER},
      platform_account_id = #{platformAccountId,jdbcType=VARCHAR},
      pause = #{pause,jdbcType=TINYINT},
      status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      media_create_time = #{mediaCreateTime,jdbcType=TIMESTAMP},
      media_update_time = #{mediaUpdateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      sync_status = #{syncStatus,jdbcType=TINYINT},
      sync_failure = #{syncFailure,jdbcType=VARCHAR},
      sync_time = #{syncTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      media_info = #{mediaInfo,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=VARCHAR},
      image_name = #{imageName,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      size = #{size,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      format = #{format,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      is_collect = #{isCollect,jdbcType=TINYINT},
      platform_material_id = #{platformMaterialId,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.bj.lianmeng.td.promotion.lib.dao.model.ImageModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from materiel_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>